# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
lower_case_table_names=1
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

#sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

#skip-grant-tables=1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
innodb_flush_log_at_trx_commit=0
sync_binlog=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

max_connections=1000
wait_timeout=100
interactive_timeout=100

#MySQL双主热备197
##---------------------------------------------
#
server-id=200
#
log-bin=mysql-bin
gtid_mode=ON
log_slave_updates=1
enforce_gtid_consistency=1
binlog_do_db=cmt_v2
binlog_format=MIXED
binlog-ignore-db=mysql,information_schema,performance_schema,sys,c3mvideo,cmt,cmt_new,cmt_test,cmt_v2_bak,rap,uap


#
relay-log=relay-bin
#
relay-log-index=relay-bin-index
#
replicate-do-db=cmt_v2
#
#replicate-do-table=wilsondb.userinfo
#
auto_increment_offset=2
#
auto_increment_increment=2
slave-skip-errors = 1032,1062
#
##---------------------------------------------
#


